@import '../../utils/variables.scss';
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
    padding-bottom: 64px;

    text-align: center;
    font-family: $font;
    & > h2 {
        font-size: 34px;
        line-height: 37.4px;
        margin-bottom: 20px;
    }
    & > p {
        color: #666666;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 34px;
    }
}